.results-containter{
    width:80%;
}

.result{            
    height:69px;
    display: flex;
    margin-bottom: 7px;
    box-shadow: 2px 2px 2px 1px rgba(0,0,0,0.15);
    box-sizing: border-box;
    line-height: 1.5;
    align-items: center;
    justify-content: center;
}

.req_id{
    width: 150px;
}

.distance{
    border-left:1px solid rgba(0,0,0,0.1);
    width:100px;
    vertical-align: middle;
    text-align: center;
}